# Rust specific
/target/
Cargo.lock
**/*.rs.bk

# Binaries and debug files
*.exe
*.pdb
*.dll
*.so
*.dylib

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Debug files
debug/
release/

# System specific
.DS_Store
thumbs.db

# Jekyll build directories
_site/
.sass-cache/
.jekyll-cache/
